@model GamesLib.Models.Game

@{
    ViewBag.Title = "title";
    //Layout = "_Layout";
}

<h2>@Model.Title</h2>

<h5>Genres</h5>
<ul>
    @foreach (var genre in @Model.Genres)
    {
        <li>@genre.Name</li>
    }
</ul>

<p>Release Date: @Model.ReleaseDate.ToShortDateString()</p>

<p>@Model.Description</p>
